{% include "src/partials/portfolio-header.html" %}

<style>
  .page-layout {
    background: #f3f3f3 !important;
  }
  .p-overlay {
    background: #f3f3f3 !important;
  }
</style>

<article
  id="post-310"
  class="hentry post-310 portfolio type-portfolio status-publish has-post-thumbnail portfolio-category-design"
>
  <header class="entry-header">
    <div class="portfolio-nav ">
      <a class="back" href="#"></a>
      <span><a href="20dejunio.html" rel="next" class="next ajax"></a></span>
    </div>
    <h1 class="entry-title">FastList</h1>
  </header>

  <div class="entry-content">
    <p>
      <img class="alignnone size-full" src="../images/portfolio/01-01.png" />
      <img class="alignnone size-full" src="../images/portfolio/01-02.png" />
      <img class="alignnone size-full" src="../images/portfolio/01-03.png" />
    </p>
    <div class="mini-text">
      <h5>ABOUT THE PROJECT</h5>
      <h6>MOBILE</h6>
      <p><b>Language:</b> Xamarin C#</p>
      <p><b>Framework:</b> MVVM CROSS</p>
      <p><b>Local DB:</b> LiteDB</p>
      <p><b>Platform:</b> IOS - Android</p>
      <h6>BACKEND FOR MOBILE</h6>
      <p><b>Language:</b> C#</p>
      <p><b>Framework:</b> .NET web api 2</p>
      <p><b>DB:</b> Microsoft SQL Server</p>
      <p><b>Blob:</b> Azure blob storage</p>
      <h6>WEBSITE TO MANAGE</h6>
      <p><b>Language:</b> C#</p>
      <p><b>Framework:</b> ASP.NET MVC 5</p>
      <p><b>DB:</b> Microsoft SQL Server</p>
      <p><b>Blob:</b> Azure blob storage</p>
      <p>
        <a
          target="_blank"
          class="button medium"
          href="https://appadvice.com/app/fastlist/1251232286"
          >IOS</a
        >
        <a
          target="_blank"
          class="button medium"
          href="https://play.google.com/store/apps/details?id=com.fastlist&rdid=com.fastlist"
          >Android</a
        >
      </p>
    </div>
    <div class="portfolio-nav bottom">
      <a class="back" href="#"></a>
      <span><a href="20dejunio.html" rel="next" class="next ajax"></a></span>
    </div>
  </div>
</article>

{% include "src/partials/portfolio-footer.html" %}
