{% include "src/partials/portfolio-header.html" %}

<style>
	.page-layout {
		background: #5cc2f2 !important;
	}
	.p-overlay {
		background: #5cc2f2 !important;
	}
</style>

<article
	id="post-310"
	class="hentry post-310 portfolio type-portfolio status-publish has-post-thumbnail portfolio-category-design"
>
	<header class="entry-header">
		<div class="portfolio-nav">
			<span><a href="20dejunio" rel="prev" class="prev ajax"></a></span>
			<a class="back" href="#"></a>
			<span><a href="moq-collaboration" rel="next" class="next ajax"></a></span>
		</div>
		<h1 class="entry-title">i18n JS</h1>
	</header>

	<div class="entry-content">
		<p>
			<img class="alignnone size-full rounded" src="../images/portfolio/i18njs-01.png" />
		</p>
		<div class="mini-text">
			<h5>ABOUT THE PROJECT</h5>
			<h6>i18nJS is a little javascript library just in time translation</h6>
			<h6>Library</h6>
			<p><b>Language:</b> Javascript</p>
			<p>
				<a
					target="_blank"
					class="button medium"
					href="https://github.com/damianpumar/i18njs"
					>Github</a
				>
			</p>
		</div>
		<div class="portfolio-nav bottom">
			<span><a href="20dejunio" rel="prev" class="prev ajax"></a></span>
			<a class="back" href="#"></a>
			<span><a href="moq-collaboration" rel="next" class="next ajax"></a></span>
		</div>
	</div>
</article>

{% include "src/partials/portfolio-footer.html" %}
