{% include "src/partials/portfolio-header.html" %}

<style>
  .page-layout {
    background: #fafcf7 !important;
  }
  .p-overlay {
    background: #fafcf7 !important;
  }
</style>

<article
  id="post-310"
  class="hentry post-310 portfolio type-portfolio status-publish has-post-thumbnail portfolio-category-design"
>
  <header class="entry-header">
    <div class="portfolio-nav ">
      <span
        ><a href="spectacle-collaboration" rel="prev" class="prev ajax"></a
      ></span>
      <a class="back" href="#"></a>
    </div>
    <h1 class="entry-title">
      Kubernetes Website
    </h1>
  </header>

  <div class="entry-content">
    <p>
      <img
        class="alignnone size-full rounded"
        src="../images/portfolio/09-01.png"
      />
    </p>
    <div class="mini-text">
      <h5>ABOUT THE PROJECT</h5>
      <h6>
        Kubernetes (K8s) is an open-source system for automating deployment,
        scaling, and management of containerized applications.
      </h6>
      <h6>Website</h6>
      <p><b>Language:</b> Markdown</p>
      <p>
        <a
          target="_blank"
          class="button medium"
          href="https://github.com/damianpumar/website"
          >Github</a
        >
        <a target="_blank" class="button medium" href="https://kubernetes.io/"
          >Website</a
        >
      </p>
    </div>
    <div class="portfolio-nav bottom">
      <span
        ><a href="spectacle-collaboration" rel="prev" class="prev ajax"></a
      ></span>
      <a class="back" href="#"></a>
    </div>
  </div>
</article>

{% include "src/partials/portfolio-footer.html" %}
