{% include "src/partials/portfolio-header.html" %}

<style>
	.page-layout {
		background: #49aeb6 !important;
	}
	.p-overlay {
		background: #49aeb6 !important;
	}
</style>

<article
	id="post-310"
	class="hentry post-310 portfolio type-portfolio status-publish has-post-thumbnail portfolio-category-design"
>
	<header class="entry-header">
		<div class="portfolio-nav">
			<span><a href="i18njs-lib" rel="prev" class="prev ajax"></a></span>
			<a class="back" href="#"></a>
			<span><a href="awesomeserializer-lib" rel="next" class="next ajax"></a></span>
		</div>
		<h1 class="entry-title">
			Moq 4
		</h1>
	</header>

	<div class="entry-content">
		<p>
			<img class="alignnone size-full rounded" src="../images/portfolio/moq-01.png" />
		</p>
		<div class="mini-text">
			<h5>ABOUT THE PROJECT</h5>
			<h6>
				The most popular and friendly mocking library for .NET
			</h6>
			<h6>
				Moq (pronounced "Mock-you" or just "Mock") is the only mocking library for .NET
				developed from scratch to take full advantage of .NET Linq expression trees and
				lambda expressions, which makes it the most productive, type-safe and
				refactoring-friendly mocking library available. And it supports mocking interfaces
				as well as classes. Its API is extremely simple and straightforward, and doesn't
				require any prior knowledge or experience with mocking concepts.
			</h6>
			<h6>Library</h6>
			<p><b>Language:</b> C#</p>
			<p>
				<a
					target="_blank"
					class="button medium"
					href="https://github.com/damianpumar/moq4"
					>Github</a
				>
			</p>
		</div>
		<div class="portfolio-nav bottom">
			<span><a href="i18njs-lib" rel="prev" class="prev ajax"></a></span>
			<a class="back" href="#"></a>
			<span><a href="awesomeserializer-lib" rel="next" class="next ajax"></a></span>
		</div>
	</div>
</article>

{% include "src/partials/portfolio-footer.html" %}
