{% include "src/partials/portfolio-header.html" %}

<style>
  .page-layout {
    background: #f7dea4 !important;
  }
  .p-overlay {
    background: #f7dea4 !important;
  }
</style>

<article
  id="post-310"
  class="hentry post-310 portfolio type-portfolio status-publish has-post-thumbnail portfolio-category-design"
>
  <header class="entry-header">
    <div class="portfolio-nav ">
      <span
        ><a href="xamarinplugin-lib.html" rel="prev" class="prev ajax"></a
      ></span>
      <a class="back" href="#"></a>
    </div>
    <h1 class="entry-title">
      Spectacle
    </h1>
  </header>

  <div class="entry-content">
    <p>
      <img
        class="alignnone size-full rounded"
        src="../images/portfolio/08-01.png"
      />
    </p>
    <div class="mini-text">
      <h5>ABOUT THE PROJECT</h5>
      <h6>
        Easily organize windows without using a mouse.
      </h6>
      <h6>Library</h6>
      <p><b>Language:</b> Objective-C</p>
      <p>
        <a
          target="_blank"
          class="button medium"
          href="https://github.com/damianpumar/spectacle"
          >Github</a
        >
      </p>
    </div>
    <div class="portfolio-nav bottom">
      <span
        ><a href="xamarinplugin-lib.html" rel="prev" class="prev ajax"></a
      ></span>
      <a class="back" href="#"></a>
    </div>
  </div>
</article>

{% include "src/partials/portfolio-footer.html" %}
