{% include "src/partials/portfolio-header.html" %}

<style>
	.page-layout {
		background: #fff !important;
	}
	.p-overlay {
		background: #fff !important;
	}
</style>

<article
	id="post-310"
	class="hentry post-310 portfolio type-portfolio status-publish has-post-thumbnail portfolio-category-design"
>
	<header class="entry-header">
		<div class="portfolio-nav">
			<span><a href="xamarinplugin-lib" rel="prev" class="prev ajax"></a></span>
			<a class="back" href="#"></a>
			<span><a href="spectacle-collaboration" rel="next" class="next ajax"></a></span>
		</div>
		<h1 class="entry-title">
			Svelte
		</h1>
	</header>

	<div class="entry-content">
		<p>
			<img class="alignnone size-full rounded" src="../images/portfolio/svelte-01.png" />
		</p>
		<div class="mini-text">
			<h5>ABOUT THE PROJECT</h5>
			<h6>
				Svelte is a radical new approach to building user interfaces. Whereas traditional
				frameworks like React and Vue do the bulk of their work in the browser, Svelte
				shifts that work into a compile step that happens when you build your app.
			</h6>
			<br />
			<h6>
				Instead of using techniques like virtual DOM diffing, Svelte writes code that
				surgically updates the DOM when the state of your app changes.
			</h6>
			<p><b>Language:</b> TypeScript & Javascript</p>
			<p>
				<a
					target="_blank"
					class="button medium"
					href="https://github.com/damianpumar/svelte"
					>Github</a
				>
				<a target="_blank" class="button medium" href="https://svelte.dev/">Website</a>
			</p>
		</div>
		<div class="portfolio-nav bottom">
			<span><a href="xamarinplugin-lib" rel="prev" class="prev ajax"></a></span>
			<a class="back" href="#"></a>
			<span><a href="spectacle-collaboration" rel="next" class="next ajax"></a></span>
		</div>
	</div>
</article>

{% include "src/partials/portfolio-footer.html" %}
