{% include "src/partials/portfolio-header.html" %}

<style>
  .page-layout {
    background: #46b2da !important;
  }
  .p-overlay {
    background: #46b2da !important;
  }
</style>

<article
  id="post-310"
  class="hentry post-310 portfolio type-portfolio status-publish has-post-thumbnail portfolio-category-design"
>
  <header class="entry-header">
    <div class="portfolio-nav ">
      <span
        ><a href="awesomeserializer-lib" rel="prev" class="prev ajax"></a
      ></span>
      <a class="back" href="#"></a>
      <span
        ><a href="svelte-collaboration" rel="next" class="next ajax"></a
      ></span>
    </div>
    <h1 class="entry-title">Share Xamarin Plugin</h1>
  </header>

  <div class="entry-content">
    <p>
      <img
        class="alignnone size-full rounded"
        src="../images/portfolio/06-01.png"
      />
    </p>
    <div class="mini-text">
      <h5>ABOUT THE PROJECT</h5>
      <h6>
        Share Xamarin Plugin is a plugin to share images written in C# for
        Xamarin. Is compatible with MVVM CROSS or Android PCL
      </h6>
      <h6>Library</h6>
      <p><b>Language:</b> Xamarin C#</p>
      <p>
        <a
          target="_blank"
          class="button medium"
          href="https://github.com/damianpumar/Xamarin-Plugins"
          >Github</a
        >
      </p>
    </div>
    <div class="portfolio-nav bottom">
      <span
        ><a href="awesomeserializer-lib" rel="prev" class="prev ajax"></a
      ></span>
      <a class="back" href="#"></a>
      <span
        ><a href="svelte-collaboration" rel="next" class="next ajax"></a
      ></span>
    </div>
  </div>
</article>

{% include "src/partials/portfolio-footer.html" %}
