@font-face {
  font-family: "DM Serif Text";
  font-style: normal;
  src: url("/fonts/dm-serif.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  src: url("/fonts/outfit.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url("/fonts/poppins.ttf") format("truetype");
}

@font-face {
  font-family: "Righteous";
  font-style: normal;
  src: url("/fonts/righteous.ttf") format("truetype");
}

@font-face {
  font-family: "Sanchez";
  font-style: normal;
  src: url("/fonts/sanchez.ttf") format("truetype");
}

.outfit {
  font-family: "Outfit", sans-serif;
}
.righteous {
  font-family: "Righteous", sans-serif;
}
.dm-serif {
  font-family: "DM Serif Text", serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.sanchez {
  font-family: "Sanchez", serif;
}
