<section id="about" class="pt-page page-layout">
    <div class="content">
        <div class="layout-medium">
            <h1 class="page-title">
                <i class="pe-7s-user"></i>about me
            </h1>
            <div class="section-title center">
                <h2>
                    <i>services</i>
                </h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="service">
                        <img src="images/site/icon-01.png" alt="image" />
                        <h4>Full Time</h4>
                        <p>I have solid knowledge in different programming languages, I started at age 14 to study computer
                            science and programming. Software engineering is a full-time passion</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service">
                        <img src="images/site/icon-02.png" alt="image" />
                        <h4>Professional</h4>
                        <p>I have skills in different technologies, I am characterized by being proactive, perfectionist, self-demanding
                            and responsible in my work.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service">
                        <img src="images/site/icon-03.png" alt="image" />
                        <h4>Management</h4>
                        <p>I am a person who has the ability to self-manage in a team, without losing sight of the main objective.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service">
                        <img src="images/site/icon-04.png" alt="image" />
                        <h4>Problem Solver</h4>
                        <p>I have great ability to find different solutions to the same problem and apply the most efficient
                            one.</p>
                    </div>
                </div>
            </div>
            <div class="section-title center">
                <h2>
                    <i>work process</i>
                </h2>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <div class="process">
                        <i class="pe-7s-chat"></i>
                        <h4>DISCOVERY</h4>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <div class="process">
                        <i class="pe-7s-light"></i>
                        <h4>IDEA</h4>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <div class="process">
                        <i class="pe-7s-vector"></i>
                        <h4>DESIGN</h4>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <div class="process">
                        <i class="pe-7s-network"></i>
                        <h4>DEVELOPMENT</h4>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <div class="process">
                        <i class="pe-7s-browser"></i>
                        <h4>TESTING</h4>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <div class="process">
                        <i class="pe-7s-rocket"></i>
                        <h4>LAUNCHING</h4>
                    </div>
                </div>
            </div>
            <div class="section-title center">
                <h2>
                    <i>fun facts</i>
                </h2>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <div class="fun-fact">
                        <i class="pe-7s-timer"></i>
                        <h4 id="hoursWorked"></h4>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="fun-fact">
                        <i class="pe-7s-news-paper"></i>
                        <h4>5 Courses Dictated</h4>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="fun-fact">
                        <i class="pe-7s-medal"></i>
                        <h4>2 Awards Won</h4>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="fun-fact">
                        <i class="pe-7s-check"></i>
                        <h4>9 Successful Projects</h4>
                    </div>
                </div>
            </div>
            <div class="section-title center">
                <h2>
                    <i>favorite pages</i>
                </h2>
            </div>
            <p class="center">
                <a class="button" href="http://stackoverflow.com/" target="_blank">Stackoverflow</a>
                <a class="button" href="https://sourcemaking.com/" target="_blank">Sourcemaking</a>
                <a class="button" href="http://www.dofactory.com/" target="_blank">Dofactory</a>
                <a class="button" href="https://www.youtube.com" target="_blank">Youtube</a>
                <a class="button" href="https://github.com/" target="_blank">Github</a>
                <a class="button" href="https://bitbucket.org/" target="_blank">Bitbucket</a>
            </p>
        </div>
    </div>
</section>