<div class="section-title center">
	<h2>
	  <i>Reach Me</i>
	</h2>
	</div>
	<div class="row">
	<div class="col-xs-6 col-sm-3">
	  <div class="fun-fact">
	    <i class="pe-7s-map-marker"></i>
	    <h4>London, United Kingdom</h4>
	  </div>
	</div>
	<div class="col-xs-6 col-sm-3">
	  <div class="fun-fact">
	    <i class="pe-7s-call"></i>
	    <h4>+34 664 109 973 (Spain)</h4>
	  </div>
	</div>
	<div class="col-xs-6 col-sm-3">
	  <div class="fun-fact ">
	    <i class="pe-7s-mail"></i>
	    <h4>damianpumar @ gmail.com</h4>
	  </div>
	</div>
	<div class="col-xs-6 col-sm-3">
	  <div class="fun-fact">
	    <i class="pe-7s-check"></i>
	    <h4>Freelance Available</h4>
	  </div>
	</div>
</div>