<section id="contact" class="pt-page page-layout light-text">
  <div class="content">
    <div class="layout-medium">
      <h1 class="page-title"><i class="pe-7s-call"></i>contact me</h1>
      <div class="section-title center">
        <h2>
          <i>Let's Socialize</i>
        </h2>
      </div>
      {% include "src/partials/social.html" %}
      {% include "src/partials/information.html" %}
      <div class="section-title center ">
        <h2>
          <i>Drop Me A Line</i>
        </h2>
      </div>
      <div class="contact-form">
        <form
          id="contact-form"
          class="validate-form"
          action="https://server.fullcoders.com/EmailMagic/email/send/LPGScT8HA4D7JJ0DvLC2"
          method="post"
        >
          <p>
            <label for="name">NAME</label>
            <input type="text" name="name" id="name" class="required" />
          </p>
          <p>
            <label for="email">EMAIL</label>
            <input type="text" name="email" id="email" class="required email" />
          </p>
          <p>
            <label for="message">MESSAGE</label>
            <textarea name="message" id="message" class="required"></textarea>
          </p>
          <div class="col-md-12 col-sm-12">
            <div class="row">
              <div
                class="g-recaptcha"
                data-sitekey="6Leo-nwUAAAAANpXPCGJb0v5m55-frxjzIZS9SYV"
              ></div>
              <input
                type="hidden"
                class="hiddenRecaptcha required"
                name="hiddenRecaptcha"
                id="hiddenRecaptcha"
                style="height:0px;"
              />
            </div>
          </div>
          <p>
            <button class="submit button" type="submit">Send</button>
          </p>
        </form>
      </div>
      <div class="map ">
        <div
          data-latitude="51.528308"
          data-longitude="-0.3817765"
          data-zoom="8"
          id="map-canvas"
          class="map-canvas"
        ></div>
      </div>
    </div>
  </div>
</section>
