<section id="courses" class="pt-page page-layout">
  <div class="content">
    <div class="layout-medium">
      <h1 class="page-title"><i class="pe-7s-study"></i>courses</h1>
      <div class="row">
        <div class="col-sm-12">
          <div class="section-title center">
            <h2>
              <i>XP</i>
            </h2>
          </div>
          <div class="myIframe">
            <iframe
              src="https://docs.google.com/presentation/d/e/2PACX-1vSAKnGnX3htQDQCrc_n0un2OYqiODKOgGHquqxiOc8HLFi1PWcfk4MugjSxTriKKRHh0r13sgDZReaX/embed?start=false&loop=false&delayms=3000"
              frameborder="0"
              width="960"
              height="569"
              allowfullscreen="true"
              mozallowfullscreen="true"
              webkitallowfullscreen="true"
            ></iframe>
          </div>
          <div class="section-title center">
            <h2>
              <i>Clean Code</i>
            </h2>
          </div>
          <div class="myIframe">
            <iframe
              src="https://docs.google.com/presentation/d/e/2PACX-1vToMj_k-lt2FjlfVdt6JOtVf8-86Gbrj2nqd11z1r5mDBenMEqHDwTGFkWc-o-44nq0IZEnO05AllSe/embed?start=false&loop=false&delayms=3000"
              frameborder="0"
              width="1000dp"
              height="600dp"
              allowfullscreen="true"
              mozallowfullscreen="true"
              webkitallowfullscreen="true"
            ></iframe>
          </div>
          <div class="section-title center">
            <h2>
              <i>Unit testing</i>
            </h2>
          </div>
          <div class="myIframe">
            <iframe
              src="https://docs.google.com/presentation/d/e/2PACX-1vSZm1-9SFlBxufEHerudFpRV-V5dSxuNCEWh3Dncgq3ozIfr2JgBF01ubD9vh5Gx3DlN4LeqvGPb-jE/embed?start=false&loop=false&delayms=3000"
              frameborder="0"
              width="960"
              height="569"
              allowfullscreen="true"
              mozallowfullscreen="true"
              webkitallowfullscreen="true"
            ></iframe>
          </div>
          <div class="section-title center">
            <h2>
              <i>TypeScript</i>
            </h2>
          </div>
          <div class="myIframe">
            <iframe
              src="https://docs.google.com/presentation/d/e/2PACX-1vQu8mgqHivGLh_CNY9DKhXNzsFGZxyr2Z4Ya5ke34sQZM-D6gFpAPrpfquF1TcIoa6kEPWk1yD72DT0/embed?start=false&loop=false&delayms=3000"
              frameborder="0"
              width="960"
              height="569"
              allowfullscreen="true"
              mozallowfullscreen="true"
              webkitallowfullscreen="true"
            ></iframe>
          </div>
          <div class="section-title center">
            <h2>
              <i>GIT</i>
            </h2>
          </div>
          <div class="myIframe">
            <iframe
              src="https://docs.google.com/presentation/d/e/2PACX-1vR982ousyvcD3apgruJ4e4IHQ4jo3I4MfCJ_bDxEV_DsaAL1gwQ-jZWA-SuZzJ8CAlW3ehvh5C2exfP/embed?start=false&loop=false&delayms=3000"
              frameborder="0"
              width="960"
              height="569"
              allowfullscreen="true"
              mozallowfullscreen="true"
              webkitallowfullscreen="true"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
