<header id="masthead" class="header" role="banner">
  <a class="menu-toggle toggle-link"></a>
  <h1 class="site-title mobile-title">Damián Pumar</h1>
  <div class="header-wrap">
    <img src="images/site/avatar.jpg" alt="avatar" />
    <h1 class="site-title">Damián Pumar</h1>
    <nav
      id="primary-navigation"
      class="site-navigation primary-navigation"
      role="navigation"
    >
      <div class="nav-menu">
        <ul>
          <li>
            <a href="#/home"> <i class="pe-7s-home"></i>Home</a>
          </li>
          <li>
            <a href="#/about"> <i class="pe-7s-user"></i>About Me</a>
          </li>
          <li>
            <a href="#/resume"> <i class="pe-7s-id"></i>Resume</a>
          </li>
          <li>
            <a href="#/contact"> <i class="pe-7s-call"></i>Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="header-search">
      <form role="search" method="get" id="search-form" action="#">
        <input
          type="text"
          value=""
          name="s"
          id="search"
          placeholder="enter word"
        />
        <input type="submit" id="search-submit" title="Search" value="→" />
      </form>
    </div>
    <div class="header-bottom">
      <div class="social-menu">
        {% include "src/partials/social.html" %}
      </div>
      <div class="copy-text">
        <p><abbr title="v.2.8.19">&copy; 2019 DP</abbr></p>
      </div>
    </div>
  </div>
</header>
