<meta charset="utf-8" />
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#242628" />
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#242628" />
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#242628" />
<meta
  name="viewport"
  content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"
/>
<meta name="description" content="Damián Pumar | Personal WebSite" />
<meta
  name="keywords"
  content="Damián Pumar, Resume CV, Sr. Software Developer"
/>
<meta name="author" content="Damián Pumar" />
<meta property="og:title" content="Damián Pumar | Personal WebSite" />
<meta
  property="og:description"
  content="Damián Pumar | Personal WebSite, Resume CV, Sr. Software Developer"
/>
<meta property="og:image" content="/images/site/avatar_metadata.jpg" />
<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
<title>Damián Pumar</title>
<link rel="shortcut icon" href="/images/ico/favicon.ico" />
<link rel="apple-touch-icon" href="/images/ico/apple-touch-icon.png" />
<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic"
  rel="stylesheet"
  type="text/css"
/>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link
  rel="stylesheet"
  type="text/css"
  href="/css/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="/css/fonts/fontello/css/fontello.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="/js/vendor/nprogress/nprogress.css"
/>
<link rel="stylesheet" type="text/css" href="/css/jquery.modal.min.css" />
<link rel="stylesheet" type="text/css" href="/css/animations.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<link rel="stylesheet" type="text/css" href="/css/768.css" />
<script src="/js/vendor/jquery-1.12.1.min.js"></script>
<script src="/js/vendor/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/vendor/modernizr.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<!--[if lt IE 9]>
  <script src="js/vendor/ie.js"></script>
<![endif]-->
