<section
  id="home"
  class="pt-page page-layout light-text home-section has-bg-img asyncImage"
  data-src="images/site/home.jpg"
>
  <div class="content">
    <div class="layout-medium">
      <h4>Hi, I am</h4>
      <h2>Damián Pumar</h2>
      <h4>
        I'm
        <strong
          id="typist-element"
          data-typist="a Full stack developer., a Clean code lover., a Software passionate., a Software craftsmanship lover."
          >a Sr. Software developer.</strong
        >
      </h4>
    </div>
  </div>
</section>
