<div id="page" class="hfeed site">
  {% include "src/partials/header.html" %}

  <div id="main" class="site-main">
    {% include "src/partials/home.html" %} {% include "src/partials/about.html"
    %} {% include "src/partials/resume.html" %} {% include
    "src/partials/portfolio.html" %} {% include "src/partials/contact.html" %}
    {% include "src/partials/snackbar.html" %}
  </div>

  <div class="p-overlay "></div>
  <div class="p-overlay "></div>
  <div class="site-alert animated "></div>
</div>
