<div class="nav-menu">
  <ul>
    <li>
      <a href="#/home" tabindex="-1"> <i class="pe-7s-home"></i>Home</a>
    </li>
    <li>
      <a href="#/about" tabindex="-1">
        <i class="pe-7s-user"></i>About Me</a
      >
    </li>
    <li>
      <a href="#/resume" tabindex="-1"> <i class="pe-7s-id"></i>Resume</a>
    </li>
    <li>
      <a href="#/portfolio" tabindex="-1">
        <i class="pe-7s-glasses"></i>Portfolio</a
      >
    </li>
    <li>
      <a href="#/contact" tabindex="-1">
        <i class="pe-7s-call"></i>Contact</a
      >
    </li>
  </ul>
</div>