<!DOCTYPE html>
<html
  lang="en"
  class="single-page-layout modern-layout"
  data-mobile-classic-layout="true"
  data-classic-layout="false"
  data-prev-animation="16"
  data-next-animation="15"
  data-random-animation="false"
  manifest="manifest.appcache"
>
  <head>
    {% include "src/partials/head.html" %}
  </head>
  <body class="portfolio-template-default single single-portfolio postid-310">
    <div id="page" class="hfeed site">
      <header id="masthead" class="header" role="banner">
        <a class="menu-toggle toggle-link"></a>
        <h1 class="site-title mobile-title">Damián Pumar</h1>
        <div class="header-wrap">
          <img src="images/site/avatar.jpg" alt="avatar" />
          <h1 class="site-title">Damián Pumar</h1>
          <nav
            id="primary-navigation"
            class="site-navigation primary-navigation"
            role="navigation"
          >
            <div class="nav-menu">
              <ul>
                <li>
                  <a href=""><i class="pe-7s-home"></i>Home</a>
                </li>
                <li>
                  <a href=""><i class="pe-7s-back"></i>Back To Portfolio</a>
                </li>
                <li>
                  <a class="search-toggle"
                    ><i class="pe-7s-search"></i>Search</a
                  >
                </li>
              </ul>
            </div>
          </nav>
          <div class="header-search">
            <form role="search" method="get" id="search-form" action="#">
              <input
                type="text"
                value=""
                name="s"
                id="search"
                placeholder="enter word"
              />
              <input
                type="submit"
                id="search-submit"
                title="Search"
                value="→"
              />
            </form>
          </div>
          <div class="header-bottom">
            {% include "src/partials/social.html" %}
            <div class="copy-text">
              <p>&copy; 2019 DP</p>
            </div>
          </div>
        </div>
      </header>

      <div id="main" class="site-main">
        <div class="portfolio-single page-layout">
          <div class="layout-medium">