<section id="portfolio" class="pt-page page-layout portfolio">
  <div class="content">
    <div class="layout-medium">
      <h1 class="page-title"><i class="pe-7s-glasses"></i>my works</h1>
      <ul id="filters" class="filters">
        <li class="current">
          <a href="#" data-filter="*">all</a>
        </li>
        <li>
          <a href="#" data-filter=".mobile">mobile</a>
        </li>
        <li>
          <a href="#" data-filter=".web">web</a>
        </li>
      </ul>

      <div
        class="portfolio-items media-grid masonry"
        data-layout="masonry"
        data-item-width="340"
      >
        <div class="media-cell mobile hentry">
          <div class="media-box">
            <img src="images/portfolio/01.jpg" alt="portfolio-post" />
            <div class="mask"></div>
            <a href="fastlist-mobile.html" class="ajax"></a>
          </div>

          <div class="media-cell-desc">
            <h3>FastList Mobile</h3>
            <p class="category">
              Mobile app to get discounts in Discos and Bars
            </p>
          </div>
        </div>
        <div class="media-cell web hentry">
          <div class="media-box">
            <img src="images/portfolio/02.jpg" alt="portfolio-post" />
            <div class="mask"></div>
            <a href="portfolio-item-02.html" class="ajax"></a>
          </div>

          <div class="media-cell-desc">
            <h3>FastList Web</h3>
            <p class="category">Discos and Bars managment website</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
