<section id="portfolio" class="pt-page page-layout portfolio">
  <div class="content">
    <div class="layout-medium">
      <h1 class="page-title"><i class="pe-7s-glasses"></i>my works</h1>
      <ul id="filters" class="filters">
        <li class="current">
          <a href="#" data-filter="*">all</a>
        </li>
        <li>
          <a href="#" data-filter=".mobile">mobile & web</a>
        </li>
        <li>
          <a href="#" data-filter=".lib">libraries</a>
        </li>
        <li>
          <a href="#" data-filter=".collaborations">collaborations</a>
        </li>
      </ul>

      <div
        class="portfolio-items media-grid masonry"
        data-layout="masonry"
        data-item-width="340"
      >
        <div class="media-cell mobile hentry">
          <div class="media-box">
            <img src="/images/portfolio/01.jpg" alt="portfolio-post" />
            <div class="mask"></div>
            <a href="fastlist" class="ajax"></a>
          </div>

          <div class="media-cell-desc">
            <h3>FastList</h3>
            <p class="category">
              Mobile & Web app to get discounts in Discos and Bars
            </p>
          </div>
        </div>
        <div class="media-cell mobile hentry">
          <div class="media-box">
            <img src="/images/portfolio/02.png" alt="portfolio-post" />
            <div class="mask"></div>
            <a href="20dejunio" class="ajax"></a>
          </div>

          <div class="media-cell-desc">
            <h3>Droguería 20 de Junio</h3>
            <p class="category">
              Logistics Mobile & Web application.
            </p>
          </div>
        </div>
        <div class="media-cell lib hentry">
          <div class="media-box">
            <img src="/images/portfolio/03.png" alt="portfolio-post" />
            <div class="mask"></div>
            <a href="i18njs-lib" class="ajax"></a>
          </div>

          <div class="media-cell-desc">
            <h3>i18n js</h3>
            <p class="category">
              Library to translate
            </p>
          </div>
        </div>
        <div class="media-cell lib hentry">
          <div class="media-box">
            <img src="/images/portfolio/05.png" alt="portfolio-post" />
            <div class="mask"></div>
            <a href="awesomeserializer-lib" class="ajax"></a>
          </div>

          <div class="media-cell-desc">
            <h3>Awesome Serializer</h3>
            <p class="category">
              Dynamic serializer
            </p>
          </div>
        </div>
        <div class="media-cell lib hentry">
          <div class="media-box">
            <img src="/images/portfolio/06.png" alt="portfolio-post" />
            <div class="mask"></div>
            <a href="xamarinplugin-lib" class="ajax"></a>
          </div>

          <div class="media-cell-desc">
            <h3>Share Xamarin Plugin</h3>
            <p class="category">
              Xamarin plugin to share images
            </p>
          </div>
        </div>
        <div class="media-cell collaborations hentry">
          <div class="media-box">
            <img src="/images/portfolio/04.png" alt="portfolio-post" />
            <div class="mask"></div>
            <a href="moq-collaboration" class="ajax"></a>
          </div>

          <div class="media-cell-desc">
            <h3>Moq 4</h3>
            <p class="category">
              The most popular and friendly mocking library for .NET
            </p>
          </div>
        </div>
        <div class="media-cell collaborations hentry">
          <div class="media-box">
            <img src="/images/portfolio/08.png" alt="portfolio-post" />
            <div class="mask"></div>
            <a href="spectacle-collaboration" class="ajax"></a>
          </div>

          <div class="media-cell-desc">
            <h3>Spectacle</h3>
            <p class="category">
              Easily organize windows without using a mouse
            </p>
          </div>
        </div>
        <div class="media-cell collaborations hentry">
          <div class="media-box">
            <img src="/images/portfolio/09.png" alt="portfolio-post" />
            <div class="mask"></div>
            <a href="kubernete-website-collaboration" class="ajax"></a>
          </div>

          <div class="media-cell-desc">
            <h3>Kubernetes Website</h3>
            <p class="category">
              Production-Grade Container Orchestration
            </p>
          </div>
        </div>
        <div class="media-cell collaborations hentry">
          <div class="media-box">
            <img src="/images/portfolio/10.png" alt="portfolio-post" />
            <div class="mask"></div>
            <a href="svelte-collaboration" class="ajax"></a>
          </div>

          <div class="media-cell-desc">
            <h3>Svelte</h3>
            <p class="category">
              Cybernetically enhanced web apps
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
