<section id="resume" class="pt-page page-layout">
  <div id="cv" class="content">
    <div class="layout-medium">
      <h1 class="page-title"><i class="pe-7s-id"></i>resume</h1>
      <div class="only-for-cv-paper">
        <div class="photo-resume">
          {% include "src/partials/photo.html" %}
        </div>
        {% include "src/partials/contact-social.html" %}
        {% include "src/partials/contact-information.html" %}
      </div>
      <div class="row">
        {% include "src/partials/workHistory.html" %} 
        {% include "src/partials/skills.html" %} 
        {% include "src/partials/testimonials.html" %}
      </div>
    </div>
  </div>
</section>
