<section id="resume" class="pt-page page-layout">
  <div class="content">
    <div class="layout-medium">
      <h1 class="page-title"><i class="pe-7s-id"></i>resume</h1>
      <div class="row">
        <div class="col-sm-7">
          <div class="event">
            <h2>WORK HISTORY</h2>
            <p>
              <i class="pe-7s-ribbon"></i>
            </p>
          </div>
          <div class="event">
            <h3>Jan 2015 - Current</h3>
            <h4>Sr. Software Developer .NET</h4>
            <h5>NEORIS Argentina S.A</h5>
            <p>
              I currently work for NEORIS Argentina S.A, I am capable of the
              optimization and creation of functionality in the framework of the
              company. I love what I do.
            </p>
          </div>
          <div class="event">
            <h3>Jun 2014 - Current</h3>
            <h4>Sr. Full Stack Developer</h4>
            <h5>Freelance Developer</h5>
            <p>
              I worked as Freelance Developer with technologies Desktop, Web and
              Mobile.
            </p>
          </div>
          <div class="event">
            <h3>Jul 2014 - Dec 2014</h3>
            <h4>Developer .NET</h4>
            <h5>Grupo Oleum S.R.L</h5>
            <p>
              In Grupo Oleum S.R.L I worked for only 6 months, where I have
              stood out because of my predisposition, responsibility and
              willingness to face new challenges.
            </p>
          </div>
          <div class="event">
            <h3>May 2011 - Jun 2014</h3>
            <h4>Owner</h4>
            <h5>DPTechnik</h5>
            <p>Sales and Repair Computers</p>
          </div>
          <div class="event">
            <h2>EDUCATION</h2>
            <p>
              <i class="pe-7s-study"></i>
            </p>
          </div>
          <div class="event">
            <h3>2011 - Current</h3>
            <h4>Software Engineering</h4>
            <h5>Universidad Abierta Interamericana</h5>
            <p>I'm studying at UAI, I am one subject away from my degree.</p>
          </div>
          <div class="event">
            <h3>2010 - 2011</h3>
            <h4>Software Engineering</h4>
            <h5>Universidad Tecnológica Nacional</h5>
            <p>I attended only the first year</p>
          </div>
          <div class="event">
            <h3>2001 - 2009</h3>
            <h4>Information System</h4>
            <h5>San Francisco Solano</h5>
            <p>High school</p>
          </div>
          <div class="event">
            <h2>BORN</h2>
            <p>
              <i class="pe-7s-map-2"></i>
            </p>
          </div>
          <div class="event">
            <h3>Nov 6 1991</h3>
            <h4 id="age"></h4>
            <h5>November 6, 1991 9:30 am.</h5>
            <p>
              Rosario -> Santa fe -> Argentina
            </p>
          </div>
          <br />
          <p>
            <a href="https://goo.gl/xUDMMt" class="button">
              <i class="pe-7s-download"></i>Download CV</a
            >
          </p>
          <div class="section-title center">
            <h2>
              <i>TESTIMONIALS</i>
            </h2>
          </div>
          <div class="col-sm-12">
            <div class="testo">
              <img src="images/testimonials/2332sgks.jpg" alt="someone" />
              <h4>Matias Emanuel Toro</h4>
              <h5>Senior Consultant at Altran</h5>
              <p>
                On that occasion I want to provide that whoever necessary should
                be received my personal and special recommendation for Damián,
                who in the last year has been working with me as technical
                leader. I came to the Neoris in the beginning of 2017; and,
                immediately we created a team synergy. Damián took on the role
                of senior developer (TD) with success. He has proven himself to
                be a lifelong learner, with a willingness to embrace change and
                do every part of his job with the highest quality standards. He
                handled all our software corporate needs – from recruiting
                (technical interviewing) to organize a work team aligned,
                estimations and direct customer communication. Damián’s efforts
                and innovation also readied us for launching a highly successful
                project to Dreyfus Company. He was responsible of that
                successful team. This, I believe, is one of his greatest
                accomplishments. I am appreciative for the opportunity to have
                had Damián as a workmate, I recommend him for any position or
                career he chooses. Sincerely
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="testo">
              <img src="images/testimonials/2897a5e.jpg" alt="someone" />
              <h4>Alejandro Dreyer</h4>
              <h5>SR. Developer at NEORIS</h5>
              <p>
                He is an excellent Developer and a perfectionist. He develops
                easily in the team of work and he is always ready to help.
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="testo">
              <img src="images/testimonials/2897a5e6jpg.jpg" alt="someone" />
              <h4>Guido Nicolás Quadrini</h4>
              <h5>Consulting, Teaching and Project Management</h5>
              <p>
                I had the pleasure of working with Damian at Grupo Oleum. Damian
                is a very proactive, responsible and common-sense person. He can
                tackle jobs under pressure without problems. His help in the
                team brings human and professional value of great quality.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="section-title center">
            <h2>
              <i>Coding skills</i>
            </h2>
          </div>
          <div class="skill-unit">
            <h4>C#</h4>
            <div class="bar" data-percent="98">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>TypeScript</h4>
            <div class="bar" data-percent="90">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>Javascript</h4>
            <div class="bar" data-percent="90">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>Ruby</h4>
            <div class="bar" data-percent="85">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>HTML5</h4>
            <div class="bar" data-percent="90">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>CSS3</h4>
            <div class="bar" data-percent="60">
              <div class="progress"></div>
            </div>
          </div>
          <div class="section-title center">
            <h2>
              <i>Databases</i>
            </h2>
          </div>
          <div class="skill-unit">
            <h4>SQL</h4>
            <div class="bar" data-percent="98">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>Mongo db</h4>
            <div class="bar" data-percent="98">
              <div class="progress"></div>
            </div>
          </div>
          <div class="section-title center">
            <h2>
              <i>Frameworks & Libraries skills</i>
            </h2>
          </div>
          <div class="skill-unit">
            <h4>.NET Core</h4>
            <div class="bar" data-percent="90">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>ASP.NET Core</h4>
            <div class="bar" data-percent="90">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>.NET Framework</h4>
            <div class="bar" data-percent="98">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>ASP NET MVC</h4>
            <div class="bar" data-percent="70">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>React</h4>
            <div class="bar" data-percent="60">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>Jsx</h4>
            <div class="bar" data-percent="60">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>Angular 5</h4>
            <div class="bar" data-percent="60">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>Angular Js</h4>
            <div class="bar" data-percent="90">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>WPF</h4>
            <div class="bar" data-percent="98">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>Entity Framework</h4>
            <div class="bar" data-percent="90">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>Moq</h4>
            <div class="bar" data-percent="98">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>Xamarin (IOS, Android & WP)</h4>
            <div class="bar" data-percent="90">
              <div class="progress"></div>
            </div>
          </div>
          <div class="section-title center">
            <h2>
              <i>Version Control</i>
            </h2>
          </div>
          <div class="skill-unit">
            <h4>GIT</h4>
            <div class="bar" data-percent="80">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>TFS</h4>
            <div class="bar" data-percent="98">
              <div class="progress"></div>
            </div>
          </div>
          <div class="section-title center">
            <h2>
              <i>Other Practices</i>
            </h2>
          </div>
          <div class="skill-unit">
            <h4>XP values & practices</h4>
            <div class="bar" data-percent="98">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>TDD</h4>
            <div class="bar" data-percent="90">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>Pair programming</h4>
            <div class="bar" data-percent="98">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>Agile Estimation</h4>
            <div class="bar" data-percent="98">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>Continuous integration</h4>
            <div class="bar" data-percent="90">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>Design patterns</h4>
            <div class="bar" data-percent="90">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>GRASP</h4>
            <div class="bar" data-percent="90">
              <div class="progress"></div>
            </div>
          </div>
          <div class="skill-unit">
            <h4>SOLID principles</h4>
            <div class="bar" data-percent="90">
              <div class="progress"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
