<div class="col-sm-12 col-md-5 col-lg-5">
  <div class="section-title center">
    <h2>
      <i>Coding skills</i>
    </h2>
  </div>
  <div class="skill-unit">
    <h4>C#</h4>
    <div class="bar" data-percent="98">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>TypeScript</h4>
    <div class="bar" data-percent="90">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>Javascript</h4>
    <div class="bar" data-percent="90">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>Ruby</h4>
    <div class="bar" data-percent="85">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>HTML5</h4>
    <div class="bar" data-percent="90">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>CSS3</h4>
    <div class="bar" data-percent="60">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>JAVA</h4>
    <div class="bar" data-percent="35">
      <div class="progress"></div>
    </div>
  </div>
  <div class="section-title center">
    <h2>
      <i>Crafts Practices</i>
    </h2>
  </div>
  <div class="skill-unit">
    <h4>XP values & practices</h4>
    <div class="bar" data-percent="98">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>TDD</h4>
    <div class="bar" data-percent="98">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>Pair programming</h4>
    <div class="bar" data-percent="98">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>Agile Estimation</h4>
    <div class="bar" data-percent="98">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>Continuous integration</h4>
    <div class="bar" data-percent="98">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>Design patterns</h4>
    <div class="bar" data-percent="98">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>GRASP</h4>
    <div class="bar" data-percent="98">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>SOLID principles</h4>
    <div class="bar" data-percent="98">
      <div class="progress"></div>
    </div>
  </div>
  <div class="section-title center">
    <h2>
      <i>Fwks & Libs skills</i>
    </h2>
  </div>
  <div class="skill-unit">
    <h4>.NET Core</h4>
    <div class="bar" data-percent="90">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>ASP.NET Core</h4>
    <div class="bar" data-percent="90">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>.NET Framework</h4>
    <div class="bar" data-percent="98">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>ASP NET MVC</h4>
    <div class="bar" data-percent="98">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>Sails js</h4>
    <div class="bar" data-percent="75">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>React</h4>
    <div class="bar" data-percent="75">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>Jsx</h4>
    <div class="bar" data-percent="75">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>Angular 5</h4>
    <div class="bar" data-percent="60">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>Angular Js</h4>
    <div class="bar" data-percent="90">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>WPF</h4>
    <div class="bar" data-percent="98">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>Entity Framework</h4>
    <div class="bar" data-percent="90">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>Moq</h4>
    <div class="bar" data-percent="98">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>Xamarin (IOS, Android & WP)</h4>
    <div class="bar" data-percent="90">
      <div class="progress"></div>
    </div>
  </div>
   <div class="section-title center">
    <h2>
      <i>Databases</i>
    </h2>
  </div>
  <div class="skill-unit">
    <h4>SQL</h4>
    <div class="bar" data-percent="98">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>Mongo db</h4>
    <div class="bar" data-percent="75">
      <div class="progress"></div>
    </div>
  </div>
  <div class="section-title center">
    <h2>
      <i>Version Control</i>
    </h2>
  </div>
  <div class="skill-unit">
    <h4>TFS</h4>
    <div class="bar" data-percent="98">
      <div class="progress"></div>
    </div>
  </div>
  <div class="skill-unit">
    <h4>GIT</h4>
    <div class="bar" data-percent="80">
      <div class="progress"></div>
    </div>
  </div>
</div>