<ul class="social">
	<li>
		<a
			class="facebook"
			href="https://curtme.org/HIXBTPX"
			target="_blank"
			tabindex="-1"
		></a>
	</li>
	<li>
		<a
			class="instagram"
			href="https://curtme.org/YQB9XCE"
			target="_blank"
			tabindex="-1"
		></a>
	</li>
	<li>
		<a
			class="twitter"
			href="https://curtme.org/7E10TFP"
			target="_blank"
			tabindex="-1"
		></a>
	</li>
	<li>
		<a class="github" href="https://curtme.org/K77ZLF3" target="_blank" tabindex="-1"></a>
	</li>
	<li>
		<a
			class="linkedin"
			href="https://curtme.org/YS3B5T8"
			target="_blank"
			tabindex="-1"
		></a>
	</li>
	<li>
		<a class="skype" href="https://curtme.org/L9ASB1L" tabindex="-1"></a>
	</li>
</ul>
