<ul class="social">
  <li>
    <a
      class="facebook"
      href="https://www.facebook.com/damian.pumar"
      target="_blank"
      tabindex="-1"
    ></a>
  </li>
  <li>
    <a
      class="instagram"
      href="https://www.instagram.com/damianpumar"
      target="_blank"
      tabindex="-1"
    ></a>
  </li>
  <li>
    <a
      class="twitter"
      href="https://twitter.com/damianpumar"
      target="_blank"
      tabindex="-1"
    ></a>
  </li>
  <li>
    <a
      class="github"
      href="https://github.com/damianpumar"
      target="_blank"
      tabindex="-1"
    ></a>
  </li>
  <li>
    <a
      class="linkedin"
      href="https://www.linkedin.com/in/damianpumar"
      target="_blank"
      tabindex="-1"
    ></a>
  </li>
  <li>
    <a class="skype" href="skype:damian.pumar?userinfo" tabindex="-1"></a>
  </li>
</ul>
