<div class="col-sm-12">
  <div class="section-title center">
    <h2>
      <i>TESTIMONIALS</i>
    </h2>
  </div>
  <div class="col-sm-12">
    <div class="testo">
      <a href="https://www.linkedin.com/in/matiastoro/" target="_blank">
        <img
          class="asyncImage"
          data-src="images/testimonials/1.jpg"
          alt="someone"
        />
      </a>
      <h4>Matias Emanuel Toro</h4>
      <h5>Senior Consultant at Altran</h5>
      <p>
        On that occasion I want to provide that whoever necessary should be
        received my personal and special recommendation for Damián, who in the
        last year has been working with me as technical leader. I came to the
        Neoris in the beginning of 2017; and, immediately we created a team
        synergy. Damián took on the role of senior developer (TD) with success.
        He has proven himself to be a lifelong learner, with a willingness to
        embrace change and do every part of his job with the highest quality
        standards. He handled all our software corporate needs – from recruiting
        (technical interviewing) to organize a work team aligned, estimations
        and direct customer communication. Damián’s efforts and innovation also
        readied us for launching a highly successful project to Dreyfus Company.
        He was responsible of that successful team. This, I believe, is one of
        his greatest accomplishments. I am appreciative for the opportunity to
        have had Damián as a workmate, I recommend him for any position or
        career he chooses. Sincerely
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="testo">
      <a
        href="https://www.linkedin.com/in/alejandro-dreyer-10402853/"
        target="_blank"
      >
        <img
          class="asyncImage"
          data-src="images/testimonials/2.jpg"
          alt="someone"
        />
      </a>
      <h4>Alejandro Dreyer</h4>
      <h5>SR. Developer at NEORIS</h5>
      <p>
        He is an excellent Developer and a perfectionist. He develops easily in
        the team of work and he is always ready to help.
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="testo">
      <a href="https://www.linkedin.com/in/guidoquadrini/" target="_blank">
        <img
          class="asyncImage"
          data-src="images/testimonials/3.jpg"
          alt="someone"
        />
      </a>
      <h4>Guido Nicolás Quadrini</h4>
      <h5>Consulting, Teaching and Project Management</h5>
      <p>
        I had the pleasure of working with Damian at Grupo Oleum. Damian is a
        very proactive, responsible and common-sense person. He can tackle jobs
        under pressure without problems. His help in the team brings human and
        professional value of great quality.
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="testo">
      <a
        href="https://www.linkedin.com/in/santiago-garabaya-274725a7/"
        target="_blank"
      >
        <img
          class="asyncImage"
          data-src="images/testimonials/4.jpg"
          alt="someone"
        />
      </a>
      <h4>Santiago Garabaya</h4>
      <h5>Software developer at NEORIS</h5>
      <p>
        Damián is very focused on his work, responsible and always willing to
        help a teammate who needs it. He has a lot of technical and theoretical
        knowledge, and he is always willing to acquire more.
      </p>
    </div>
  </div>
</div>
