 <div class="col-sm-12 col-md-7 col-lg-7">
    <div class="event">
      <h2>WORK HISTORY</h2>
      <p>
        <i class="pe-7s-ribbon"></i>
      </p>
    </div>
    <div class="event">
      <h3>Jun 2019 - Current</h3>
      <h4>Software Craftsman Apprentice</h4>
      <h5><a href="https://www.codurance.com" target="_blank">Codurance</a></h5>
      <p>
        I am currently working in Codurance, enjoying the apprentice program. I am very happy to be able to work here.
      </p>
    </div>
    <div class="event">
      <h3>Jan 2015 - Jun 2019</h3>
      <h4>Sr. Software Developer .NET</h4>
      <h5><a href="https://www.neoris.com/" target="_blank">NEORIS Argentina S.A</a></h5>
      <p>
        I worked for NEORIS Argentina S.A, I worked as the technical leader, also he has given training courses teaching and promoting best software development practices. I was very happy working there.
      </p>
    </div>
    <div class="event">
      <h3>Jun 2014 - Current</h3>
      <h4>Sr. Full Stack Developer - Founder</h4>
      <h5><a href="https://www.fullcoders.com/" target="_blank">Full Coders</a></h5>
      <p>
        I worked as Freelance Developer with technologies Desktop, Web and
        Mobile.
      </p>
    </div>
    <div class="event">
      <h3>Jul 2014 - Dec 2014</h3>
      <h4>Developer .NET</h4>
      <h5>Grupo Oleum S.R.L</h5>
      <p>
        In Grupo Oleum S.R.L I worked for only 6 months, where I have
        stood out because of my predisposition, responsibility and
        willingness to face new challenges.
      </p>
    </div>
    <div class="event">
      <h3>May 2011 - Jun 2014</h3>
      <h4>Owner</h4>
      <h5>DPTechnik</h5>
      <p>Sales and Repair Computers</p>
    </div>
    <div class="event">
      <h2>EDUCATION</h2>
      <p>
        <i class="pe-7s-study"></i>
      </p>
    </div>
    <div class="event">
      <h3>2011 - Current</h3>
      <h4>Software Engineering</h4>
      <h5>Universidad Abierta Interamericana</h5>
      <p>I'm studying at UAI, I am one subject away from my degree.</p>
    </div>
    <div class="event">
      <h3>2010 - 2011</h3>
      <h4>Software Engineering</h4>
      <h5>Universidad Tecnológica Nacional</h5>
      <p>I attended only the first year</p>
    </div>
    <div class="event">
      <h3>2001 - 2009</h3>
      <h4>Information System</h4>
      <h5>San Francisco Solano</h5>
      <p>High school</p>
    </div>
    <div class="event">
      <h2>BORN</h2>
      <p>
        <i class="pe-7s-map-2"></i>
      </p>
    </div>
    <div class="event">
      <h3>Nov 6 1991</h3>
      <h4 id="age"></h4>
      <h5>November 6, 1991 9:30 am.</h5>
      <p>
        Rosario -> Santa fe -> Argentina
      </p>
    </div>
    <p>
      <a href="http://bit.ly/32WUNyw" class="button">
        <i class="pe-7s-download"></i>Download CV</a
      >
    </p>
</div>